.Wine {
  display: flex;
}

.Wine h2 {
  margin-bottom: 0.5rem;

  font-size: 2rem;
}

.Wine p {
  margin-bottom: 0.5rem;
}

.Wine .image-wrapper {
  width: 25%;
  padding:  0 1rem;;
}

.Wine .image-wrapper img {
  width: 100%;
}

.Wine .content-wrapper {
  width: 75%;
  padding:  0 1rem;;
}